@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* MENU DE NAVEGACIÓN */
* {
    box-sizing: border-box;
}
body{
    font-family:'intere', sans-serif;
    margin: 0px;
    background:linear-gradient( #efefef,  #63b995, #326273);
}
main{

}

.nav {
    width: 100%;
    display: flex;
    height: 0.95cm;
    background-color: #0b3c49;
    align-items: center;
    justify-content: left;
    position: fixed;
    box-shadow: 0px 1px 0.2cm black;
}
.espacio {
    width: 100%;
    display: flex;
    height: 1cm;
    background-color: #0b3c49;
}

.nav2 {

    width: 100%;
    display: flex;
    height: 2.2cm;
    padding: 15px 0px 15px 15px;
    background-color: #195f72;
    align-items: center;
    justify-content: left;
    box-shadow: 0px 0px 0.3cm black;
}

.nav2 .menu a{
    text-decoration: none;
    margin: 20px;
    color: white;
    transition: all 0.3s ease;
}

.nav2 .menu a:hover{
    border-radius: 15px;
    padding: 7px 12px;
    background: white;
    color: black;
}
.menu{
    list-style: none;
    display: flex;
    
}

.nav2 .logo{
    height: 2cm;
}

                        /* CUERPO */
.container {
    max-width: 100%;
    overflow: auto;
    padding: 0px;
}
.imagenes{
    width: 55%;
}

/* NOSOSTROS */

.nosotros{
    padding: 100px;
}
.nosotros-title {
    padding-top: 340px;
    float: right;
    width: 50%;
    
}
.nosotros-image {
    float: left;
    width: 50%;
}


/* EVENTO */

.evento{
    padding: 130px;
}
.evento-title {
    padding-top: 340px;
    float: left;
    width: 45%;

}

.evento-imgage {
    float: right;
    width: 55%;
}


/* FORMULARIO */
.form{
    background-image: url('assets/fondo-formulario.png');
    background-size: cover;
    padding: 2cm;
}

.form-container {
    width: 500px;
    background: #24303c;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    border-radius: 10px;
    color: white;
    box-shadow: 7px 13px 37px black;
}

.form-container .controls {
    width: 97%;
    background: #24303c;
    margin-bottom: 25px;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    border: 1px solid #1f53c5;
    font-family: 'Calibri';
    font-size: 20px;
    color: white;
}

.form-container form h3{
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.enviar{
    width: 40%;
    background-color: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin-left: 30%;
    border-radius: 10px;
    font-size: 20px;
}