@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*En root defino variables de CSS*/
:root {
    --bg-color: #ccd5ae;
    --text-color: #ffff;

}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

/*Navbar*/

#navbar {
    border-width: 1px solid black;
    background-image: url(./imagenes/juyy.png);
    position: fixed;
    width: 98%;
    border-radius: 15px;
    border: solid black;
}

#navbar a {
    /*Escrito asi se estiliza al elemento a dentro de la clase navbar*/
    color: #fefffe;
    font-weight: bold;
    /*text decoration quita el subrayado*/
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    border: solid black;

}

#navbar .logo {
    /*Escrito asi se estiliza a la clase logo dentro de la clase navbar*/
    filter: brightness(1.1);
    /*Quita el fondo de la img png*/
    mix-blend-mode: multiply;
    /*Quita el fondo de la img png*/
    height: 120px;
    float: right;
}

#navbar ul {
    /*le quito los puntos a las botoneras*/
    list-style: none;
    float: left;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    /*separacion entre items*/
    text-align: center;
    margin: 5px;
    /*defino borde de cada item*/
    background: #d4a373;
    /*fondo de color estatico de cada item*/
    color: #fefffe;
    /*color de letra de cada item*/
}

#navbar ul li a:hover {
    background: #895737;
}

/*Home*/
#Home {
    overflow: hidden;
    border: 1px solid;
    background-image: url(./imagenes/juyy.png);
    margin-top: 10px;
}

#Home .home-img img {
    height: 340px;
    width: 200px;
    float: right;
    margin-top: 150px;
    margin-right: 10px;
    margin-bottom: 70px;
    width: 45%;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 10px;
}

#Home .miau {
    filter: brightness(1.1);
    /*Quita el fondo de la img png*/
    mix-blend-mode: multiply;
    /*Quita el fondo de la img png*/
}

#Home .noticias-title {
    float: left;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    margin-top: 270px;
    margin-left: 10px;
    background-color: #d4a373;
    padding-top: 50px;
    padding-bottom: 100px;
    width: 45%;
    border-radius: 10px;
    border: solid 5px black;
}

/*Evento*/
#Evento {
    overflow: hidden;
    border: 1px solid;
    background: #d4a373;
    margin-top: 10px;
}

#Evento .evento-title {
    float: right;
    text-align: center;
    background: #6d676e;
    color: #fefffe;
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 50px;
    padding-top: 200px;
    padding-bottom: 170px;
    width: 45%;
    font-weight: bold;
}

#Evento .evento-image video {
    height: 500px;
    width: 500px;
    float: left;
    background-image: url(./imagenes/sinletras.png);
    margin-top: 70px;
    margin-right: 10px;
    margin-bottom: 70px;
    width: 45%;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
}

#Evento video {
    padding: 105px;

}

/*Nosotros*/
#Nosotros {
    overflow: hidden;
    border: 1px solid;
    background: #ffc300;
    margin-top: 10px;
}

#Nosotros .nosotros-title {
    float: left;
    text-align: center;
    background: #6d676e;
    color: #fefffe;
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 50px;
    padding-top: 200px;
    padding-bottom: 170px;
    width: 45%;
    font-weight: bold;
}

#Nosotros .nosotros-image img {
    height: 500px;
    width: 500px;
    float: right;
    background: #6d676e;
    margin-top: 70px;
    margin-right: 10px;
    margin-bottom: 70px;
    width: 45%;
    padding: 50px;


}

/*Footer*/
#footer-clima {
    background-color: #d4a373;
    overflow: hidden;
    border: 1px solid;
    background: #d4a373;
    margin-top: 10px;
}
#footer-clima .clima {
    float: left;
    text-align: center;
    background:#6d676e;
    color: #fefffe;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.information-container {
    display: flex;
    padding-top: 10px;
}
.info {
    margin-left: 5px;
    padding: 1px;
    font-weight: bold;
}